<h2>06 todolist works</h2>
<input type="text" style="width:300px;height:32px" [(ngModel)]="keyword" (keyup)="doAdd($event)"/>

<ul>
    <h3>To do List:</h3>
    <li *ngFor="let item of todolist;let k=index" [hidden]="item.status==1">
        <input type="checkbox" [(ngModel)]="item.status" (change)="checkboxchange()"> {{item.title}}-----<button (click)="deleteData(k)">X</button>
    </li>
</ul>

<ul>
    <h3>Done List:</h3>
    <li *ngFor="let item of todolist;let k=index" [hidden]="item.status==0">
        <input type="checkbox" [(ngModel)]="item.status" (change)="checkboxchange()"> {{item.title}}-----<button (click)="deleteData(k)">X</button>
    </li>
</ul>

<hr/>
<div id="box">
    this is a box
</div>
<div id="box1">
        this is a box
</div>
